* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fields {
  border-radius: 5vh;
  background-color: darkgray;
  border: black 1px double;
  margin: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.fields > section {
  padding: 10px;
}
.fields > section > label {
  display: block;
  margin-bottom: 1.3vh;
}
.fields > .field-button > button {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-data {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.data-result {
  display: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
